name: ci

on: [pull_request]

jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "16"
      - name: Verify internal links
        run: ./scripts/verify-links.sh
      - name: Verify internal link anchors
        run: ./scripts/verify-link-anchors.sh
      - name: Verify internal links - cloud only
        run: |
          npm i
          node ./scripts/filterCloudDoc.js
          cp ./scripts/verify-links.sh ./tmp/verify-links.sh
          cd tmp
          ./verify-links.sh
