name: ci

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  duplicated-file-names:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - name: Verify duplicated file names
        run: ./scripts/verify-duplicated-file-name.sh

  internal-links-files:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install Node dependencies
        run: npm ci
      - name: Verify internal links (full repo) - files
        run: ./scripts/verify-links.sh

  internal-links-anchors:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install Node dependencies
        run: npm ci
      - name: Verify internal links (full repo) - anchors
        run: ./scripts/verify-link-anchors.sh

  internal-links-toc:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: npm
          cache-dependency-path: package-lock.json
      - name: Install Node dependencies
        run: npm ci
      - name: Verify internal links (full repo) - TOC membership
        run: node ./scripts/verify-internal-links-in-toc.js

  vale:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Vale Linter
        uses: errata-ai/vale-action@reviewdog
        with:
          # Optional
          # Specify file path to lint
          #files: .

          # Optional
          filter_mode: added
        env:
          # Required, set by GitHub actions automatically:
          # https://docs.github.com/en/actions/security-guides/automatic-token-authentication#about-the-github_token-secret
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
